{#
/**
 * @file
 * Default theme implementation for the column shortcode.
 *
 * Available variables:
 * - text
 * - size
 * - order
 */
#}	

{% if order != "last" %}
<div class="content-column column-{{ size }} {{ order }}">
	{{ text|t }}
	<p>Test: column 1</p>
</div>
{% else %}
<div class="content-column column-{{ size }} {{ order }}">
	{{ text|t }}
	<p>Test: column last</p>
</div>
<p class="clear-fix"></p>
{% endif %}