{#
/**
 * @file
 * Default theme implementation for the box shortcode.
 *
 * Available variables:
 * - title
 * - text
 * - color
 * - style
 * - float
 */
#}	

{% set correctedStyle = style %}
{% if style == "border" } 
	{% set correctedStyle = "outline" %}
{% endif %}

<div class="ucb-box ucb-box-title-left ucb-box-alignment-{{ float }} ucb-box-style-{{ correctedStyle }} ucb-box-theme-{{ color }}">
	<div class="ucb-box-inner">
		<div class="ucb-box-title">{{ title|t }}</div>
		<div class="ucb-box-content">{{ text|t }}</div>
	</div>
</div>
