{#
/**
 * @file
 * Default theme implementation for the button shortcode.
 *
 * Available variables:
 * - url: The url.
 * - attributes: The attributes array.
 * - text: The button label.
 */
#}

<a href="{{ link }}" title="Donation Button" class="button cu-give-button button-{{ style }} button-{{ size }} button-{{ color }}">
	<i class="icon-cu"></i>
	{{ text }}
</a>
