{#
/**
 * @file
 * Default theme implementation for the give shortcode.
 *
 * Available variables:
 * - url: The url.
 * - attributes: The attributes array.
 * - text: The button label.
 */
#}

{% if color == "dark" %}
	{% set bgColor = "gray-dark" %}
{% elseif color == "light" %}
	{% set bgColor = "gray-light" %}
{% else %}
	{% set bgColor = "gold" %}
{% endif %}

<a href="{{ link }}" title="Donation Button" class="button cu-give-button button-{{ style }} button-{{ size }} button-{{ bgColor }}">
	<i class="icon-cu"></i>
	{{ text|t }}
</a>
