{#
/**
 * @file
 * Default theme implementation for the box shortcode.
 *
 * Available variables:
 * - title
 * - text
 * - color
 * - style
 * - float
 */
#}
{% set correctedFloat = "none" %}
{% if float in ["none", "left", "right"] %}
    {% set correctedFloat = float %}
{% endif %}
{% set correctedColor = "lightgray" %}
{% if color in ["lightgray", "darkgray", "black", "white"] %}
    {% set correctedColor = color %}
{% endif %}
{% set correctedStyle = "fill" %}
{% if style == "filled" %}
    {% set correctedStyle = "fill" %}
{% elseif style == "border" %}
    {% set correctedStyle = "outline" %}
{% endif %}
{% set correctedTitle = "hidden" %}
{% if title %}
    {% set correctedTitle = "left" %}
{% endif %}
<div class="ucb-box ucb-box-title-{{ correctedTitle }} ucb-box-alignment-{{ correctedFloat }} ucb-box-style-{{ correctedStyle }} ucb-box-theme-{{ correctedColor }}">
    <div class="ucb-box-inner">
        <div class="ucb-box-title">{{ title|t }}</div>
        <div class="ucb-box-content">{{ text|t }}</div>
    </div>
</div>
