{#
/**
 * @file
 * Default theme implementation for the give shortcode.
 *
 * Available variables:
 * - url: The url.
 * - attributes: The attributes array.
 * - text: The button label.
 */
#}

<a class="ucb-link-button ucb-link-button-{{ color }} ucb-link-button-{{ size }} ucb-link-button-{{ style }}" href="{{ link }}">
  <span class="ucb-link-button-contents">{{ text|raw }}</span>
</a>