{#
/**
 * @file
 * Default theme implementation for the give shortcode.
 *
 * Available variables:
 * - url: The url.
 * - attributes: The attributes array.
 * - text: The button label.
 */
#}

{% if color == "dark" %}
  {% set bgColor = "black" %}
{% elseif color == "light" %}
  {% set bgColor = "gray" %}
{% else %}
  {% set bgColor = "gold" %}
{% endif %}

{% if style == "regular" %}
  {% set style = "default" %}
{% endif %}


  <a class="ucb-link-button ucb-link-button-{{ bgColor }} ucb-link-button-{{ size }} ucb-link-button-{{ style }}" href="{{ link }}">
    <span class="ucb-link-button-contents">{{ text|raw }}</span>
  </a>