{#
/**
 * @file
 * Default theme implementation for the button shortcode.
 *
 * Available variables:
 * - link: The url.
 * - size: The size of the button.
 * - color: The button color.
 * - style: The style of the button.
 * - ico: A FA icon if chosen.
 * - title: The button title attribute. 
 * - text: The button text.
 */
#}

<a href="{{ link }}" title="Button: {{ title }}" class="button button-{{ style  }} button-{{ size }} button-{{ color }}">
	{% if ico %}
		<i class="fa {{ ico }}"> </i>
	{% endif %}
	{{ text }}
</a>
